.container {
  padding: 24px;
  max-width: 950px;
  margin: 0 auto;
  font-family: sans-serif;
}

.backBtn {
  background: none;
  border: none;
  color: var(--accent);
  cursor: pointer;
  margin-bottom: 15px;
  padding: 0;
  font-size: 14px;
}

.backBtn:hover {
  text-decoration: underline;
}

.title {
  color: var(--text-main);
  margin-bottom: 4px;
}

.subtitle {
  color: var(--text-secondary);
  font-size: 14px;
  margin-bottom: 24px;
}

.tabs {
  display: flex;
  gap: 8px;
  margin-bottom: 24px;
}

.tabBtn {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 500;
  font-size: 14px;
}

.tabBtnActive {
  background-color: var(--accent-border);
  color: var(--bg);
}

.tabBtnInactive {
  background-color: var(--bg);
  color: var(--bg-button-form);
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 20px;
}

.card {
  background: var(--bg);
  border: 1px solid var(--bg);
  border-radius: 8px;
  padding: 14px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.03);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.subjectName {
  text-transform: capitalize;
  margin: 0 0 12px 0;
  color: var(--text-main);
  border-bottom: 1px solid var(--border);
  padding-bottom: 8px;
}

.row {
  font-size: 16px;
  color: var(--text-main);
  margin-bottom: 10px;
}

.currentMarks {
  font-weight: bold;
  color: var(--text-secondary);
}

.inputRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  font-size: 16px;
  color: var(--text-main);
  margin-bottom: 14px;
}

.selectInput {
  flex: 1;
  padding: 6px 8px;
  border-radius: 8px;
  font-size: 16px;
  background: var(--border);
  border: 3.5px solid var(--accent-bg);
  font-weight: bold;
  color: var(--text-secondary);
}

.selectInput option {
  background: var(--bg-blocks);
  color: var(--text-secondary);
  font-weight: 500;
  font-size: 18px;
  padding-inline: 30%;
  padding-block: 10px;
  border-radius: 4px;
  border: 3px solid var(--border);
}

.predictionBox {
  background-color: var(--bg);
  color: var(--text-secondary);
  font-size: 16px;
  font-weight: 600;
  padding: 10px 12px;
  border-radius: 6px;
  line-height: 1.4;
  background: var(--bg-blocks);
}
