.container {
  padding: 24px;
  max-width: 800px;
  margin: 0 auto;
  font-family: sans-serif;
}

.backBtn {
  background: none;
  border: none;
  color: var(--accent);
  cursor: pointer;
  margin-bottom: 15px;
  padding: 0;
  font-size: 14px;
}

.backBtn:hover {
  text-decoration: underline;
}

.tabs {
  display: flex;
  gap: 8px;
  margin-bottom: 20px;
}

.tabBtn {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 500;
  font-size: 14px;
  transition:
    background-color 0.2s,
    color 0.2s;
}

.tabBtnActive {
  background-color: var(--accent-border);
  color: var(--text-color-btn);
}

.tabBtnInactive {
  background-color: var(--bg);
  color: var(--text-secondary);
}

.tabBtnInactive:hover {
  background-color: var(--hover-tr);
}

.detailsCard {
  background: var(--bg);
  border: 1px solid var(--border);
  border-radius: 8px;
  padding: 24px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
}

.marksContainer {
  display: flex;
  gap: 10px;
  margin-top: 12px;
  flex-wrap: wrap;
}

.markBadge {
  display: flex;
  align-items: center;
  background-color: var(--bg);
  color: var(--accent);
  padding: 8px 8px 8px 14px;
  border: 1px solid var(--border);
  border-radius: 4px;
  font-weight: bold;
  font-size: 16px;
  gap: 6px;
}

.deleteMarkBtn {
  background: none;
  border: none;
  color: var(--danger);
  cursor: pointer;
  font-size: 18px;
  padding: 4px;
  line-height: 1;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s;
}

.deleteMarkBtn:hover {
  background-color: var(--hover-tr);
}

.finalMarkWrapper {
  margin-top: 20px;
}

.addMarkSection {
  margin-top: 30px;
}

.addBtn {
  background-color: var(--bg-button-form);
  color: var(--bg);
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

.addBtn:hover {
  transform: scale(1.01);
}

.addBtn:disabled {
  background-color: var(--form-bg);
  cursor: not-allowed;
}

.digitsGrid {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

.digitBtn {
  width: 40px;
  height: 40px;
  background-color: var(--bg);
  border: 1px solid var(--border);
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  font-size: 14px;
  transition: background-color 0.2s;
  color: var(--bg-button-form);
}

.digitBtn:hover {
  background-color: var(--hover-tr);
}

.cancelBtn {
  display: block;
  margin: 12px auto 0;
  background: var(--bg-button-form);
  border: none;
  color: var(--social-bg);
  cursor: pointer;
  font-size: 14px;
  border-radius: 4px;
  padding-block: 8px;
  padding-inline: 14px;
}

.cancelBtn:hover {
  color: var(--hover-tr);
  text-decoration: underline;
}
